<!--<form role="search">-->
    <!--<div class="form-group">-->
        <div class="input-group">
          {{input type="text" class=_class placeholder=_placeholder value=textValue
          autocomplete="off" spellcheck="false"}}
            <div class="input-group-btn">
                <button class="btn btn-default" {{action 'search'}}><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        <ul {{bind-attr class=":autocomplete displaySuggestions:displaySuggestions"}} >
          {{#each suggestions as |suggestion index|}}
            {{#suggestion-highlight index=index current=current suggestion=suggestion
            action="selectSuggestion"}}
              {{suggestion.title}}
            {{/suggestion-highlight}}
          {{/each}}
        </ul>
    <!--</div>-->
<!--</form>-->