
<div class="thumbnail">
  {{#link-to "store.book" book}}<img src={{book.img}} alt={{book.title}}>{{/link-to}}
    <div class="caption">
        <h3>{{#link-to "store.book" book}}{{book.title}}{{/link-to}}</h3>
    </div>
</div>

