
<div class="thumbnail">
  {{#link-to "store.book" book}}<img {{bind-attr src=book.img}} alt={{book.title}}>{{/link-to}}
    <div class="caption">
        <h5>{{#link-to "store.book" book}}{{book.title}}{{/link-to}}</h5>
    </div>
</div>

