<div class={{class}} style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
    <span></span> <b class="caret"></b>
</div>

{{yield}}
