body {

}

.sidebar {
  position: fixed;
  padding: 20px;
  top: 51px;
  left: 0;
  bottom: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #EEEEEE;
}

.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px;
  margin-bottom: 20px;
}

.nav-sidebar > li > a {
  padding-left: 20px;
}

.nav-sidebar > li > a.active {
  color: #fff;
  background: #428bca;
}

.admin-main {
  padding: 20px;
  padding-top: 70px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.autocomplete {
  position: absolute;
  z-index: 1001;
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style-type:none;
  margin: 0px;
  padding: 0px;
}

.autocomplete li {
  /*margin: 6px 0px;*/
  padding: 0px 12px;
  font-size: 14px;
  line-height: 2em;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.autocomplete li:hover, .autocomplete .suggestionSelected {
  background: #f5f5f5;
}

.autocomplete {
  transition: all 0.15s ease;
  opacity: 0;
  /*display: none;*/
}

.autocomplete.displaySuggestions {
  opacity: 1;
  /*display: block;*/
}

.test {
  border: 1px solid #ccc;
  display: inline-block ;
  padding: 2px 5px;
  background-color: #f5f5f5;
  margin-top: 5px;
  margin-right: 2px;
  font-size: 12px;
  border-radius: 5px;
}

.test span {
  color: dimgray;
  top: 2px;
}

.book-info {

}

.book-info tr:first-child td {
  /*border-top: 0px solid grey;*/
}

.book-info {
  padding-top: 20px;
}

.book-info > table > tbody > tr > td {
  border-top: 0px solid grey;
  /*font-weight: 300;*/
}

.full-star {
  color: darkorange;
}

.half-star {
  color: rgba(255, 140, 0, 0.7);
}

.search-condition {
  margin-bottom: 15px;
}

.nav-sidebar-collapse > li > a {
  display: block;
  padding: 10px;
  padding-left: 20px;
  text-decoration: none;
}

.nav-sidebar-collapse > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}

.nav-sidebar-collapse > li {
  position: relative;
  display: block;
  margin-left: -20px;
}

.nav-sidebar .active {
  color: #fff;
  background-color: #428bca;
}

.navbar-nav > li > a.active {
  color: #555;
  background-color: #e7e7e7;
}

.feedback {
  margin-bottom: 30px;
}

.new-feedback-rating {
  padding: 0px;
  padding-top: 5px;
}

.book-cart {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

#book-feedbacks-options {
  margin-bottom: 20px;
}

/*.book-feedbacks-options > div > div.btn-group{*/
  /*margin-left: 20px;*/
/*}*/
