
<div class="index-masthead">
    <div class="container">
        <p class="logo">B</p>
        <p class="lead">
            Welcome to Yuxin's Bookstore
        </p>
      <div class="btn-wrapper">
        <span class="my-btn">
            {{#link-to 'store.signup' }}Sign Up Now{{/link-to}}
        </span>
        <span class="my-btn">
            <a href="http://github.com/Orthocenter/BookstoreFrontend">View on Github</a>
        </span>
      </div>
    </div>
</div>