<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>lol ol</p>
        <p>
            <!--<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>-->
          {{#link-to 'store.signup'  class="btn btn-lg btn-primary"}}Sign up now »{{/link-to}}
        </p>
    </div>

</div>