<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Orders</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                  {{my-daterange-picker startDate=start endDate=end class="pull-left"}}
                </div>
            </div>
            <div style="padding-top: 20px">
              {{#if display}}
                {{ember-chart type=type data=data options=options}}
              {{else}}
                {{ember-chart type=type data=data options=options}}
              {{/if}}
            </div>
        </div>
    </div>
</div>