<div class="container">
    <div class="page-header">
        <h2>Confirm Your Order</h2>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-10">
                      {{input type="text" class="form-control" id="inputAddress" placeholder="Address" value=addr}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button {{action 'confirm'}} class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <p><strong>Total Price: </strong>{{totalPrice}}</p>
        </div>
    </div>
</div>