<div class="container">
    <div class="page-header">
        <!--<div class="col-sm-8">-->
      {{log customer}}
        <h2>{{customer.name}}</h2>
        <!--</div>-->
        <!--<h4 class="pull-right"><i class="glyphicon glyphicon-shopping-cart"></i></h4>-->
    </div>
    <div class="col-sm-12 book-main">
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Address</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>



</div>