<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Bookstore - Dashboard</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                  {{#link-to 'admin.index'}}Overview{{/link-to}}
                </li>

                <li>
                  {{#link-to 'admin.books.new'}}Add a new book{{/link-to}}
                </li>

                <li>
                  {{#link-to 'admin.books.arrive'}}New books arrive{{/link-to}}
                </li>

                <li>
                  {{#link-to 'admin.authors.new'}}Add a new author{{/link-to}}
                </li>

                <li>
                  {{#link-to 'admin.publishers.new'}}Add a new publisher{{/link-to}}
                </li>
            </ul>
        </div>
        <div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 admin-main">
          {{outlet}}
        </div>
    </div>
</div>
